<div class="container-sm">
    <h1 class="text-center">Inventario</h1>
    <hr>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto d-flex justify-content-center align-items-center">
                <div class="input-group flex-nowrap">
                    <span class="input-group-text" id="addon-wrapping">
                        <i class="fi fi-rr-search"></i>
                    </span>
                    <input type="text" class="form-control" id="search" name="search" placeholder="Buscar..." aria-describedby="addon-wrapping">
                </div>
            </div>
        </div>
    </div>
    <br>
   </div>
  <div class="container">
    <!-- Primera Fila -->
    <div class="row">
        <!-- First card -->
      <div class="col-sm-6 mb-3 mb-sm-0 ">
        <div class="card">
          <div class="card-body2">
            <div class="row">
                <!-- First column -->
                <div class="col-md-4">
                  <h1>Imagen</h1>
                </div>
                <!-- Second column -->
                <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="text">Modelo:</h6>
                            </div>
                            <div class="col-sm-8">
                                <h6 class="text">texto</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="text">IMEI:</h6>
                            </div>
                            <div class="col-sm-8">
                                <h6 class="text">texto</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="text">Precio:</h6>
                            </div>
                            <div class="col-sm-8">
                                <h6 class="text">texto</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="text">Categoría:</h6>
                            </div>
                            <div class="col-sm-8">
                                <h6 class="text">texto</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="text">Color:</h6>
                            </div>
                            <div class="col-sm-8">
                                <h6 class="text">texto</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <h6 class="text">Almacenamiento:</h6>
                            </div>
                            <div class="col-sm-8">
                                <h6 class="text">texto</h6>
                            </div>
                        </div>
                        <div class="row mt-2 mt-2">
                            <div class="col-md-12">
                                <a href="#" class="btn btn-link float-start" tooltip="Tooltip" placement="top">Detalles de ingreso</a>
                                <p><a href="#" class="btn btn-link float-end" data-bs-toggle="tooltip" data-bs-title="Otros">Otros detalles</a></p>
                            </div>  
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-12">
                                <button class="btn btn-outline-primary float-start" data-bs-toggle="modal" data-bs-target="#editModal">Editar</button>
                                <button class="btn btn-outline-danger float-end" data-bs-toggle="modal" data-bs-target="#deleteModal">Eliminar</button>
                            </div>  
                        </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Pagination -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto d-flex justify-content-center align-items-center">
        <nav  aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled mb-2">
              <span class="page-link"><i class="fi fi-rr-angle-left"></i></span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <span class="page-link">2</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item mb-2">
              <a class="page-link" href="#"><i class="fi fi-rr-angle-right"></i></a>
            </li>
          </ul>
        </nav>
      </div>  
    </div>
  </div>

  <div>
    <button class="btn btn-outline-primary position-fixed bottom-0 end-0 translate-middle pb-0" data-bs-toggle="modal" data-bs-target="#newItem" title="Agregar Artículo">
      <i class="fi fi-rr-add"></i>
    </button>
  </div>
  
  
  <!-- Modal para agregar Producto-->
<div class="modal fade" id="newItem" tabindex="-1" data-bs-backdrop="static" aria-labelledby="newModalLabel" aria-hidden="true">
    <form>
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="newModalLabel">Agregar Artículo</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <!-- Model -->
              <label for="model">Modelo</label>
              <input type="text" id="model" class="form-control mb-3" name="model" placeholder="Escribe aquí"required/>
              <!-- IMEI -->
              <label for="imei">IMEI</label>
              <input type="text" id="imei" class="form-control mb-3" name="imei" placeholder="Escribe aquí" maxlength="15" minlength="15" pattern="^[0-9]+$" required/>
              <!-- Price -->
              <label for="price">Precio</label>
              <input type="text" id="price" class="form-control mb-3" name="price" placeholder="Escribe aquí" pattern="^[0-9]+$" required/>
              <!-- Topic -->
              <label for="topic">Categoría</label>
              <input type="text" id="topic" class="form-control mb-3" name="topic" placeholder="Escribe aquí" required/>
              <!-- Color -->
              <label for="color">Color</label>
              <input type="text" id="color" class="form-control mb-3" name="color" placeholder="Escribe aquí" required/>
              <!-- Storage -->
              <label for="storage">Almacenamiento</label>
              <input type="text" id="storage" class="form-control mb-3" name="storage" placeholder="Escribe aquí" required/>
              <!-- Date -->
              <label for="date">Fecha</label>
              <input type="text" id="date" class="form-control mb-3" name="date" placeholder="Escribe aquí" pattern="\d+" required/>
              <!-- Operator -->
              <label for="operator">Operador</label>
              <input type="text" id="operator" class="form-control mb-3" name="operator" placeholder="Escribe aquí" required/>
              <!-- Battery state -->
              <label for="batteryState">Estado de la batería</label>
              <input type="text" id="batteryState" class="form-control mb-3" name="batteryState" placeholder="Escribe aquí" required/>
              <!-- PhysicalState -->
              <label for="physicalState">Estado Físico</label>
              <input type="text" id="physicalState" class="form-control mb-3" name="physicalState" placeholder="Escribe aquí" required/>
              <!-- Observations -->
              <label for="observations">Observaciones Adicionales</label>
              <input type="text" id="observations" class="form-control mb-3" name="observations" placeholder="Escribe aquí" required/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Agregar</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- Modal para Eliminar un artículo-->
<div class="modal" id="deleteModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Se eliminará el Artículo: </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal para Editar la información del artículo-->
  <div class="modal" id="editModal" tabindex="-1" data-bs-backdrop="static">
    <form>
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar Artículo</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
           <!-- Model -->
           <label for="model">Modelo</label>
           <input type="text" id="model" class="form-control mb-3" name="model" placeholder="Escribe aquí"required/>
           <!-- IMEI -->
           <label for="imei">IMEI</label>
           <input type="text" id="imei" class="form-control mb-3" name="imei" placeholder="Escribe aquí" maxlength="15" minlength="15" pattern="^[0-9]+$" required/>
           <!-- Price -->
           <label for="price">Precio</label>
           <input type="text" id="price" class="form-control mb-3" name="price" placeholder="Escribe aquí" pattern="^[0-9]+$" required/>
           <!-- Topic -->
           <label for="topic">Categoría</label>
           <input type="text" id="topic" class="form-control mb-3" name="topic" placeholder="Escribe aquí" required/>
           <!-- Color -->
           <label for="color">Color</label>
           <input type="text" id="color" class="form-control mb-3" name="color" placeholder="Escribe aquí" required/>
           <!-- Storage -->
           <label for="storage">Almacenamiento</label>
           <input type="text" id="storage" class="form-control mb-3" name="storage" placeholder="Escribe aquí" required/>
           <!-- Date -->
           <label for="date">Fecha</label>
           <input type="text" id="date" class="form-control mb-3" name="date" placeholder="Escribe aquí" pattern="\d+" required/>
           <!-- Operator -->
           <label for="operator">Operador</label>
           <input type="text" id="operator" class="form-control mb-3" name="operator" placeholder="Escribe aquí" required/>
           <!-- Battery state -->
           <label for="batteryState">Estado de la batería</label>
           <input type="text" id="batteryState" class="form-control mb-3" name="batteryState" placeholder="Escribe aquí" required/>
           <!-- PhysicalState -->
           <label for="physicalState">Estado Físico</label>
           <input type="text" id="physicalState" class="form-control mb-3" name="physicalState" placeholder="Escribe aquí" required/>
           <!-- Observations -->
           <label for="observations">Observaciones Adicionales</label>
           <input type="text" id="observations" class="form-control mb-3" name="observations" placeholder="Escribe aquí" required/>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-outline-danger" data-bs-dismiss="modal">Guardar Cambios</button>
          </div>
        </div>
      </div>
    </form>
  </div>

  
  

