<button
  class="btn btn-primary"
  type="button"
  data-bs-toggle="offcanvas"
  data-bs-target="#offcanvasInventory"
  aria-controls="offcanvasWithBothOptions">Inventory</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasInventory" aria-labelledby="offcanvasWithBothOptionsLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">MENU</h5>
    <button type="button" class="btn-close" id="close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <section class="sidebar-item">
      <svg height="100%" width="15pt">
        <rect width="10pt" height="100%" class="sidebar-shape" />
      </svg>
      <i class="fi fi-rr-grid"></i>
      <p>Tablero</p>
    </section>
    <hr>
    <section class="sidebar-item selected">
      <svg height="100%" width="15pt">
        <rect width="10pt" height="100%" class="sidebar-shape" />
      </svg>
      <i class="fi fi-rr-grid"></i>
      <p>Inventario</p>
    </section>
  </div>
</div>
