/* En tu archivo de estilos de componente o en tu hoja de estilos global */
.fab {
  width: 48pt;
  height: 48pt;
  background-color: #17d973;
  border-radius: 50%;
  position: fixed;
  bottom: 15pt;
  right: 15pt;
  color: var(--white);
  box-shadow: 0 2pt 5pt 0 rgba(0, 0, 0, 0.3);
  z-index: 1000;
  line-height: 48pt;
  text-align: center;
  .fi {
    font-size: 24pt;
    vertical-align: middle;
  }
}

.fabTwo {
  width: 48pt;
  height: 48pt;
  background-color: #ff6b6b;
  border-radius: 50%;
  position: fixed;
  bottom: 70pt;
  right: 15pt;
  color: var(--white);
  box-shadow: 0 2pt 5pt 0 rgba(0, 0, 0, 0.3);
  z-index: 1000;
  line-height: 48pt;
  text-align: center;
  .fi {
    font-size: 24pt;
    vertical-align: middle;
  }
}

.fab:hover {
  background-color: #14e87a;
  cursor: pointer;
}

.fabTwo:hover {
  background-color: #ff5e5e;
  cursor: pointer;
}

.my-custom-card {
  margin: 20px;
  background-color: #f0f0f0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.my-custom-card:hover {
  transform: scale(1.05);
  //background-color: rgb(44,128,255);
  box-shadow: 0 0 10pt 1pt rgba(44, 128, 255, 0.7);
}

.my-custom-card .card-body {
  background-color: #ffffff;
}
