<section class="container">
  <div class="row text-center title">
    <h3>Clientes</h3>
  </div>
  <hr>
  <div class="container">
    <input class="form-control w-50 mx-auto mt-3" [(ngModel)]="searchValue"
    (ngModelChange)="onSearchChange()" type="search" placeholder="Buscar...">
   </div>
   <!-- Filtro por deuda -->
   <div class="container">
    <select class="form-select w-50 mx-auto mt-3"  [(ngModel)]="selectedFilter" (change)="filter()">
      <option value="" disabled selected>Elige un Filtro:</option>
      <option value="sin deuda">Sin Deuda</option>
      <option value="adeuda">Con Deuda</option>
    </select>
  </div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-6 mb-3 mb-sm-1 " *ngFor="let customer of customers">
        <div class="card my-custom-card" data-bs-toggle="modal" [attr.data-bs-target]="'#customerModal' + customer.voterKey" >
          <div class="card-header">
            <div class="card-title text-center">Foto de la Credencial</div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="name" name="name" [value]="customer.name">
                  <label for="name">Nombre:</label>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="voterKey" name="voterKey" [value]="customer.voterKey">
                  <label for="voterKey">Clave de Elector:</label>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="status" name="status" [value]="customer.status">
                  <label for="status">Estatus:</label>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="email" name="email" [value]="customer.debt">
                  <label for="email">Deuda:</label>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-between">
            <button class="btn btn-outline-primary position-relative" data-bs-toggle="modal" data-bs-target="#editModal" (click)="clickInfo(customer)"><i class="fi fi-rr-pencil"></i></button>
            <button class="btn btn-outline-success position-relative" data-bs-toggle="modal" [attr.data-bs-target]="'#customerModal' + customer.voterKey" (click)="clickInfo(customer)"><i class="fi fi-rr-info"></i></button>
            <button class="btn btn-outline-danger position-relative" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="clickInfo(customer)"><i class="fi fi-rr-trash"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Botón para agregar a un Nuevo Cliente-->
  <div>
    <button class="btn btn-outline-primary position-fixed bottom-0 end-0 translate-middle"
    data-bs-toggle="modal" data-bs-target="#newModal"><i class="fi fi-rr-add"></i></button>
  </div>

  <!-- Modal  para Crear a un Nuevo Usuario-->
  <div class="modal fade" id="newModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="newModalLabel" aria-hidden="true">
    
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="newModalLabel">Nuevo Usuario</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="addNewDocument(addForm.value)" id="addForm">
              <div class="col-sm-12 mb-3">
                <div class="form-floating">
                  <input type="text" id="name" class="form-control" name="name"
                    ngModel #name="ngModel"
                    [ngClass]="{'is-invalid':(name.invalid && name.dirty)}" [required]="true"/>
                  <label for="name">Nombre</label>  
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <div class="form-floating">
                  <input type="text" id="address" class="form-control" name="address"
                    ngModel #address="ngModel" 
                    [ngClass]="{'is-invalid':(address.invalid && address.dirty)}" [required]="true"/> 
                  <label for="address">Direción</label>     
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <div class="form-floating">
                  <input type="text" id="email" class="form-control" name="email"
                    ngModel #email="ngModel"
                    [ngClass]="{'is-invalid':(address.invalid && address.dirty)}" [required]="true" email/> 
                  <label for="email">E-mail</label> 
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <div class="form-floating">
                  <input type="text" id="voterKey" class="form-control" name="voterKey"
                    ngModel #voterKey="ngModel"
                    [ngClass]="{'is-invalid':(voterKey.invalid && voterKey.dirty)}" [required]="true" /> 
                  <label for="voterKey">Clave de elector</label>     
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <div class="form-floating">
                  <input type="text" id="phoneNumber" class="form-control" name="phoneNumber"
                    ngModel #phoneNumber="ngModel" 
                    [ngClass]="{'is-invalid':(phoneNumber.invalid && phoneNumber.dirty)}" [required]="true" maxlength="10" minlength="10" pattern="^[0-9]+$"/>
                  <label for="phoneNumber">Número de Teléfono</label>      
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <div class="form-floating">
                  <input type="text" id="facebook" class="form-control" name="facebook"
                    ngModel #facebook="ngModel"
                    [ngClass]="{'is-invalid':(facebook.invalid && facebook.dirty)}" [required]="true"/>  
                  <label for="facebook">Facebook</label>  
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <div class="form-floating">
                  <input type="text" id="status" class="form-control" name="status"
                    ngModel #status="ngModel"
                    [ngClass]="{'is-invalid':(status.invalid && status.dirty)}" [required]="true" />
                  <label for="status">Status</label>  
                </div>
              </div>
              <div class="col-sm-12 mb-3">
                <div class="form-floating">
                  <input type="debt" id="facebook" class="form-control" name="debt"
                    ngModel #debt="ngModel"
                    [ngClass]="{'is-invalid':(debt.invalid && debt.dirty)}" [required]="true" />
                  <label for="debt">Deuda</label>  
                </div>
              </div> 
            </form>
          </div>
          <div class="modal-footer">
            @if (addForm.form.invalid && addForm.form.touched) {
              @if(phoneNumber.invalid){
                <p class="text-danger">*Revisa el número de Teléfono*</p>
              }
              @else if(email.invalid){
                <p class="text-danger">*Revisa el correo electrónico*</p>
              }@else {
                <p class="text-danger">*Completa los campos para poder ingresar.*</p>
              }
            }
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" form="addForm" data-bs-dismiss="modal"[disabled]="addForm.form.invalid">Ingresar</button>
          </div>
        </div>
      </div>
    
  </div>
  <!-- Modal para Eliminar un Usuario-->
  <div class="modal" id="deleteModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Eliminar</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Se eliminará el usuario: {{infoCustomer.name}}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal"(click)="deleteDocument(infoCustomer.voterKey)">Eliminar</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Editar la información un Usuario-->
  <div class="modal" id="editModal" tabindex="-1" data-bs-backdrop="static">
    <form #editForm="ngForm" (ngSubmit)="updateDocument(editForm.value)">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar Usuario</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <label for="fileName">Nombre</label>
            <input type="text" class="form-control"  name="name"
            ngModel #name="ngModel" [(ngModel)]="infoCustomer.name" required>
            <label for="fileName">Dirección</label>
            <input type="text" class="form-control"  name="address"
            ngModel #address="ngModel" [(ngModel)]="infoCustomer.address" required>
            <label for="fileName">Número de Teléfono</label>
            <input type="text" class="form-control" name="phoneNumber" ngModel #phoneNumber="ngModel"
            [(ngModel)]="infoCustomer.phoneNumber" required maxlength="10" minlength="10" pattern="^[0-9]+$">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-outline-danger" data-bs-dismiss="modal" [disabled]="editForm.form.invalid">Guardar Cambios</button>
            @if (editForm.form.invalid && editForm.form.touched) {
              @if(phoneNumber.invalid){
                <p class="text-danger">*Revisa el número de Teléfono*</p>
              }
              @else if(name.invalid){
                <p class="text-danger">*Revisa el Nombre</p>
              }@else {
                <p class="text-danger">*Completa los campos para poder ingresar.*</p>
              }
            }
          </div>
        </div>
      </div>
    </form>
  </div>
  <!-- Info Modal -->
  <div class="modal fade" tabindex="-1" data-bs-backdrop="static" [id]="'customerModal' + customer.voterKey" *ngFor="let customer of customers">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Información del Cliente</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="text" readonly class="form-control-plaintext" id="Input1" [value]="customer.name">
                <label for="Input1">Nombre:</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="text" readonly class="form-control-plaintext" id="Input1" [value]="customer.voterKey">
                <label for="Input1">Clave de Elector:</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="text" readonly class="form-control-plaintext" id="Input1" [value]="customer.address">
                <label for="Input1">Email:</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="text" readonly class="form-control-plaintext" id="Input1" [value]="customer.address">
                <label for="Input1">Dirección:</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="text" readonly class="form-control-plaintext" id="Input1" [value]="customer.phoneNumber">
                <label for="Input1">Telefono:</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="text" readonly class="form-control-plaintext" id="Input1" [value]="customer.facebook">
                <label for="Input1">Facebook:</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="text" readonly class="form-control-plaintext" id="Input1" [value]="customer.status">
                <label for="Input1">Estatus:</label>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-floating">
                <input type="text" readonly class="form-control-plaintext" id="Input1" [value]="customer.debt">
                <label for="Input1">Deuda:</label>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  </div>
</section>
