<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/inventory">Inventario</a></li>
    <li class="breadcrumb-item active" aria-current="page">Añadir</li>
  </ol>
</nav>

<form id="inventoryAddForm" class="row g-2 needs-validation" #inventoryAddForm="ngForm"
      (ngSubmit)="addToInventory(inventoryAddForm.value, inventoryAddForm)">
  <legend>Formulario de nuevo producto</legend>

  <div class="col-lg-6 col-md-6">
    <div class="form-floating">
      <!--<input type="datetime-local" name="entryDate" id="entryDate" class="form-control" placeholder="Fecha"
             ngModel #entryDate="ngModel" [ngClass]="{'is-invalid':(entryDate.invalid && entryDate.dirty)}" [required]="true" />
      <label for="entryDate">Fecha de entrada</label>-->
      <input type="text" name="brand" id="brand" class="form-control" placeholder="Marca"
             ngModel #brand="ngModel" [ngClass]="{'is-invalid':(brand.invalid && brand.dirty)}" [required]="true" />
      <label for="brand">Marca</label>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 mb-4">
    <div class="form-floating">
      <select name="category" id="category" class="form-select" aria-label="Select category"
              ngModel #category="ngModel" [ngClass]="{'is-invalid':(category.invalid && category.dirty)}" [required]="true">
        <option value="">--Elegir categoría--</option>
        <option value="Celular">Celulares</option>
        <option value="Laptos">Laptos</option>
        <option value="Smartwatch">Smartwatchs</option>
        <option value="Tablet">Tablets</option>
        <option value="Consola">Consolas</option>
        <option value="Auriculares">Auriculares</option>
        <option value="Otros">Otros...</option>
      </select>
      <label for="category">Categoría</label>
    </div>
  </div>

  <div class="col-lg-6 col-md-6">
    <div class="form-floating">
      <input type="text" name="IMEI" id="IMEI" class="form-control" placeholder="8282882"
             ngModel #IMEI="ngModel" [ngClass]="{'is-invalid':(IMEI.invalid && IMEI.dirty)}" [required]="true" />
      <label for="IMEI">IMEI/No.Serie</label>
    </div>
  </div>

  <div class="col-lg-6 col-md-6">
    <div class="form-floating">
      <input type="text" name="model" id="model" class="form-control" placeholder="2019"
             ngModel #model="ngModel" [ngClass]="{'is-invalid':(model.invalid && model.dirty)}" [required]="true" />
      <label for="model">Modelo</label>
    </div>
  </div>

  <div class="col-lg-6 col-md-6">
    <div class="form-floating">
      <input type="text" name="color" id="color" class="form-control" placeholder="Rojo, azul..."
             ngModel #color="ngModel" [ngClass]="{'is-invalid':(color.invalid && color.dirty)}" [required]="true" />
      <label for="color">Color</label>
    </div>
  </div>

  <div class="col-lg-6 col-md-6">
    <div class="row">
      <div class="col-lg-7 col-md-7 mb-2">
        <div class="form-floating">
          <input type="number" name="storageCapacity" id="storageCapacity" class="form-control" placeholder="64GB"
                 ngModel #storageCapacity="ngModel" [ngClass]="{'is-invalid':(storageCapacity.invalid && storageCapacity.dirty)}"
                 [required]="NA_Storage.value == false" [min]="1" [disabled]="NA_Storage.value == true" />
          <label for="storageCapacity">Almacenamiento</label>
        </div>
      </div>

      <div class="col-lg-5 col-md-5 mb-2">
        <div class="form-floating">
          <select name="storageUnit" id="storageUnit" class="form-select" aria-label="Select storageUnit"
                  ngModel #storageUnit="ngModel" [ngClass]="{'is-invalid':(storageUnit.invalid && storageUnit.dirty)}"
                  [required]="NA_Storage.value == false" [disabled]="NA_Storage.value == true">
            <option value="">--Tipo--</option>
            <option value="MB">MB (Megabytes)</option>
            <option value="GB">GB (Gigabytes)</option>
            <option value="TB">TB (Terabytes)</option>
          </select>
          <label for="storageUnit">Unidad</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="NA_Storage" value="true" ngModel #NA_Storage="ngModel"
                 [ngModelOptions]="{standalone: true}" />
          <label class="form-check-label" for="NA_Storage">No aplica</label>
        </div>
      </div>
    </div>
  </div>



  <div class="col-lg-6 col-md-6">
    <div class="form-text">*La estética se valora de 1 a 10.</div>
    <div class="form-floating">
      <input type="number" name="physicalState" id="physicalState" class="form-control" placeholder="Bueno, malo..."
             ngModel #physicalState="ngModel" [ngClass]="{'is-invalid':(physicalState.invalid && physicalState.dirty)}"
             [required]="true" [min]="1" [max]="10" />
      <label for="physicalState">Estética</label>
    </div>
  </div>
  <div class="col-lg-6 col-md-6">
    <div class="row">
      <div class="col-12 mb-2">
        <div class="form-text">*El estado de la batería se valora de 1 a 100.</div>
        <div class="form-floating">
          <input type="number" name="batteryState" id="batteryState" class="form-control" placeholder="Bueno, malo..."
                 ngModel #batteryState="ngModel" [ngClass]="{'is-invalid':(batteryState.invalid && batteryState.dirty)}"
                 [required]="NA_Battery.value == false" [min]="1" [max]="100" [disabled]="NA_Battery.value == true" />
          <label for="batteryState">Estado de la batería</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="NA_Battery" value="true" ngModel #NA_Battery="ngModel"
                 [ngModelOptions]="{standalone: true}" />
          <label class="form-check-label" for="NA_Battery">No aplica</label>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12 mb-4">
    <div class="form-floating">
      <textarea name="comments" id="comments" class="form-control" placeholder="Sin comentarios..." ngModel [required]="false"></textarea>
      <label for="comments">Comentarios adicionales</label>
    </div>
  </div>


  <div class="col-lg-6 col-md-6 mb-4">
    <div class="form-floating">
      <select name="location" id="location" class="form-select" aria-label="Select location"
              ngModel #location="ngModel" [ngClass]="{'is-invalid':(location.invalid && location.dirty)}" [required]="true">
        <option value="">--Elegir ubicación--</option>
        <option value="Bodega">Bodega</option>
        <option value="Local">Local</option>
        <option value="Prestado">Prestado</option>
        <option value="Reparación">Reparación</option>
        <option value="Querétaro">Querétaro</option>
      </select>
      <label for="location">Ubicación</label>
    </div>
  </div>

  <div class="col-lg-6 col-md-6">
    <div class="form-floating">
      <input type="text" name="location_employee" id="location_employee" class="form-control" placeholder="Nombre de la persona"
             ngModel #location_person="ngModel" [ngClass]="{'is-invalid':(location_person.invalid && location_person.touched)}"
             [required]=" location.value != 'Bodega' || location.value != 'Local' || location.value != 'Reparación' "
             [disabled]="location.value != 'Prestado' && location.value != 'Querétaro'" />
      <label for="location_employee">Persona</label>
    </div>
  </div>

  <div class="col-lg-6 col-md-6">
    <div class="input-group">
      <span class="input-group-text">$</span>
      <div class="form-floating">
        <input type="number" name="price" id="price" class="form-control" aria-label="Precio" placeholder="00.00"
               ngModel #price="ngModel" [ngClass]="{'is-invalid':(price.invalid && price.touched)}"
               [required]="true" [min]="0" />
        <label for="price">Precio</label>
      </div>
      <span class="input-group-text">.00</span>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 mb-4">
    <div class="form-floating">
      <input type="text" name="employeeId" id="employeeId" class="form-control" placeholder="Email de usuario"
             ngModel #employeeId="ngModel" [ngClass]="{'is-invalid':(employeeId.invalid && employeeId.dirty)}"
             [required]="true" readonly [(ngModel)]="currentUser"/>
      <label for="employeeId">Usuario que registra</label>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 mb-4">
    <label for="urlPhoto1" class="form-label">1. Foto de artículo:</label>
    <input type="file" name="urlPhoto1" id="urlPhoto1" class="form-control" placeholder="Elegir foto"
           ngModel #imgFile1="ngModel" (change)="editAndCompressImage($event, imgFile1, img1)" [required]="true"
           [disabled]="!(imgFile1.value == '' || imgFile1.value == undefined)" />
    <div [ngClass]="{'visually-hidden':(imgFile1.value == '' || imgFile1.value == undefined)}">
      <div class="row mt-3">
        <div class="col-12 text-center">
          <button class="btn btn-danger" type="button" title="Quitar imagen" data-bs-toggle="modal" data-bs-target="#deleteImg1">
            <i class="fi fi-rr-trash-xmark"></i>
          </button>

          <div id="deleteImg1" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Quitar imagen</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ¿Desea eliminar la imagen seleccionada?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteImage(img1, imgFile1)">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <img src="" alt="Foto 1" title="Foto 1" #img1 class="img-fluid" />
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 mb-4">
    <label for="urlPhoto2" class="form-label">2. Foto de artículo:</label>
    <input type="file" name="urlPhoto2" id="urlPhoto2" class="form-control" placeholder="Elegir foto"
           ngModel #imgFile2="ngModel" (change)="editAndCompressImage($event, imgFile2, img2)" [required]="true"
           [disabled]="!(imgFile2.value == '' || imgFile2.value == undefined)" />
    <div [ngClass]="{'visually-hidden':(imgFile2.value == '' || imgFile2.value == undefined)}">
      <div class="row mt-3">
        <div class="col-12 text-center">
          <button class="btn btn-danger" type="button" title="Quitar imagen" data-bs-toggle="modal" data-bs-target="#deleteImg2">
            <i class="fi fi-rr-trash-xmark"></i>
          </button>

          <div id="deleteImg2" class="modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Quitar imagen</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  ¿Desea eliminar la imagen seleccionada?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteImage(img2, imgFile2)">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-1">
        <img src="" alt="Foto 2" title="Foto 2" #img2 class="img-fluid" />
      </div>
    </div>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary btn-lg" title="Agregar producto" [disabled]="inventoryAddForm.invalid || isLoading">
      <span [hidden]="isLoading">Agregar</span>
      <span class="spinner-border spinner-border-sm" aria-hidden="true" [hidden]="!isLoading"></span>
      <span class="m-3" role="status" [hidden]="!isLoading">Agregando producto...</span>
    </button>
  </div>
</form>
