th[scope="row"] {
  text-align: end;
}

#product-images, carousel-item {
  display: flex;
  justify-content: center;
}

.carousel {
  max-width: 800px;
  .carousel-item {
    img {
      max-height: 500px;
    }
  }
  .carousel-control-next, .carousel-control-prev {
    background-color: var(--white-3);
  }
}
