.card-custom{
  margin: 20px 20px 30px 20px;
  background-color: #f0f0f0;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: space-between;
}
.card-custom:hover{
  transform: scale(1.05);
  //background-color: rgb(44,128,255);
  box-shadow: 0 0 10pt 1pt rgba(44, 128, 255, 0.7);
}
.card-custom .card-title {
  background-color: #f0f0f0;
  margin-bottom: 10px;
}

.card-custom .card-footer {
  background-color: #f0f0f0;
  display: flex;
  justify-content: space-between;
}
.card-custom .card-body{
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.card-custom .card-header{
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #f0f0f0;
}
.table{
  width: 100%;
}
.card-custom .card-footer .btn-custom{
  display: flex;
  gap: 10px;
  margin: auto;
}
