/*.sidebar-item.selected {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 40pt;
  width: 100%;
  color: white;
  background-color: rgb(44, 128, 255);
  cursor: pointer;
  .fi {
    font-size: 20pt;
    padding-left: 20pt;
    padding-right: 10pt;
    height: 65%;
  }
  p {
    height: 25%;
  }
}*/

/*.offcanvas {
  background-color: rgb(238, 238, 238);
}

.offcanvas-body {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  height: 2pt;
  background: #000;
}*/
