<h1>MARKTEC</h1>
<p>If you can see this, everything is working! :D</p>
<button class="btn btn-primary">Click me</button>
<!-- Example single danger button -->
<div class="btn-group">
  <button type="button" class="btn btn-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Action
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="https://www.google.com.mx" target="_blank">Google</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="#">Separated link</a></li>
  </ul>
</div>

<router-outlet></router-outlet>
