<section class="container-fluid mt-3">
  <div class="row row-cols-1 row-cols-md-2 g-2">

    <div class="col">
      <div class="card border-light h-100">
        <div class="card-header">
          <div class="row">
            <div class="col-11 p-1">
              <p class="card-text"><small class="text-muted">IMEI/No.Serie</small></p>
            </div>
            <div class="btn-group col-1 p-1">
              <i class="fi fi-rr-menu-dots btn btn-light btn-sm dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"></i>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Ver detalles</a></li>
                <li><a class="dropdown-item" href="#">Editar</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <p class="card-text">Modelo</p>
        </div>
      </div>
    </div>

  </div>
</section>
