<div class="container-sm">
    <h1 class="text-center">Ventas</h1>
    <hr>
    <br>

</div>
  <div class="container">
    <div class="row">
        <!-- First card -->
      <div class="col-sm-6 mb-3 mb-sm-0 ">
        <!-- Barra de Búsqueda -->
          <div class="input-group flex-nowrap">
              <span class="input-group-text" id="addon-wrapping">
                  <i class="fi fi-rr-search"></i>
              </span>
              <input
              id="typeahead-Customer"
              type="text"
              class="form-control"
              [(ngModel)]="model"
              [ngbTypeahead]="search"
              (focus)="focus$.next($any($event).target.value)"
              (click)="click$.next($any($event).target.value)"
              (selectItem)="onSelect($event)"
              #instance="ngbTypeahead">
          </div>
        <!-- Botoón para agregar un nuevo cliente -->
          <div class="card text-center" data-bs-toggle="modal" data-bs-target="#newCustomer" *ngIf="showBtn">
            <div class="card-body">
              <i class="fi fi-rr-add"></i>
              <h6 class="card-title">Nuevo Cliente</h6>
            </div>
          </div>
        <!-- Tarjeta para mostrar datos del cliente -->
          <div class="card" *ngIf="showCard">
            <h5 class="card-header">Cliente</h5>
            <div class="card-body2">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input type="text" readonly class="form-control-plaintext" id="Input1" [value]="customers.name">
                    <label for="Input1">Nombre:</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input type="text" readonly class="form-control-plaintext" id="Input1" [value]="customers.voterKey">
                    <label for="Input1">Clave de Elector:</label>
                  </div>
                </div>
               <div class="col-sm-6">
                 <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input2" [value]="customers.email">
                  <label for="Input2">Email:</label>
                 </div>
               </div>
               <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input3" [value]="customers.phoneNumber">
                  <label for="Input2">Teléfono:</label>
                </div>
               </div>
               <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input4" [value]="customers.address">
                  <label for="Input2">Dirección:</label>
                </div>
               </div>
               <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input5" [value]="customers.facebook">
                  <label for="Input2">Facebook:</label>
                </div>
               </div>
               <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input6" [value]="customers.status">
                  <label for="Input2">Estado:</label>
                </div>
                </div>
                <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input7" [value]="customers.debt">
                  <label for="Input2">Deuda</label>
                </div>
              </div>
              </div>
            </div>
            <div class="card-footer">
              <button class="btn btn-outline-danger float-end mx-2 mb-0" (click)="deleteCustomer()" ><i class="fi fi-rr-trash"></i></button><!-- data-bs-toggle="modal" data-bs-target="#deleteCustomer"-->
            </div>
          </div>
      </div>
      <!-- Second card -->
      <div class="col-sm-6 mb-3 mb-sm-0 ">
        <!-- Barra de búsqueda -->
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">
                <i class="fi fi-rr-search"></i>
            </span>
            <input
            id="typeahead-Item"
            type="text"
            class="form-control"
            [(ngModel)]="modelItem"
            [ngbTypeahead]="searchItem"
            (focus)="focusItem$.next($any($event).target.value)"
            (click)="clickItem$.next($any($event).target.value)"
            (selectItem)="onSelectItem($event)"
            #instanceItem="ngbTypeahead">
          </div>
        <!-- Botón para escoger artículo de venta-->
          <div class="card text-center" data-bs-toggle="modal" data-bs-target="#newItemforSale" *ngIf="showBtnItem">
            <div class="card-body">
              <i class="fi fi-rr-add"></i>
              <h6 class="card-title">Artículo en venta</h6>
            </div>
          </div>
          <!-- Tarjeta para mostrar  datos del artículo en venta-->
          <div class="card" *ngIf="showCardItem">
            <h5 class="card-header">Artículo en Venta</h5>
            <div class="card-body2">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input type="text" readonly class="form-control-plaintext" id="Input1" [value]="items.brand">
                    <label for="Input1">Marca:</label>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input type="text" readonly class="form-control-plaintext" id="Input1" [value]="items.model">
                    <label for="Input1">Modelo:</label>
                  </div>
                </div>
               <div class="col-sm-6">
                 <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input2" [value]="items.IMEI">
                  <label for="Input2">IMEI:</label>
                 </div>
               </div>
               <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input3" [value]="items.batteryState">
                  <label for="Input2">Estado de Batería:</label>
                </div>
               </div>
               <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input4" [value]="items.physicalState">
                  <label for="Input2">Estado Físico</label>
                </div>
               </div>
               <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input5" [value]="items.storageCapacity">
                  <label for="Input2">Almacenamiento:</label>
                </div>
               </div>
               <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input6" [value]="items.location">
                  <label for="Input2">Ubicación:</label>
                </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-floating">
                    <input type="text" readonly class="form-control-plaintext" id="Input7" [value]="items.price">
                    <label for="Input2">Precio</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-body-secondary">
              <button class="btn btn-outline-danger float-end mx-2 mb-0" (click)="deleteItem()"><i class="fi fi-rr-trash"></i></button><!-- data-bs-toggle="modal" data-bs-target="#deleteItem" -->
            </div>
          </div>
      </div>
    </div>
    <h5 class="text">Artículos Recibidos</h5>
    <div class="row">
        <!--ROW 2 First card -->
      <div class="col-sm-4 mb-3 mb-sm-0 " *ngFor="let exchange of exchangeCard">
        <div class="card mb-3" data-bs-toggle="modal" [attr.data-bs-target]="'#infoModal' + exchange.model" >
          <div class="row g-0">
            <div class="col-md-4">
              <img src="..." class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
              <div class="card-body2">
                <h5 class="card-title">{{exchange.model}}</h5>
                <!-- <div class="d-flex justify-content-center align-items-center">
                  <i class="fi fi-rr-exclamation text-success" ></i>
                </div> -->
                <div class="row">
                  <div class="col-md-12">
                    <button class="btn btn-outline-primary float-end" data-bs-toggle="modal" data-bs-target="#editModal"><i class="fi fi-rr-edit"></i></button>
                    <button class="btn btn-outline-danger float-end mx-2 mb-0" data-bs-toggle="modal" data-bs-target="#deleteModal" (click)="clickInfo(exchange)"><i class="fi fi-rr-trash"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Second card -->
      <div class="col-sm-4 mb-3 mb-sm-0 " *ngIf="showBtnExch">
        <div class="card text-center" data-bs-toggle="modal" data-bs-target="#newItem">
          <div class="card-body">
            <i class="fi fi-rr-add"></i>
            <h6 class="card-title">Agregar Artículo</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container">
  <h3 class="text-center">Venta en Proceso</h3>
  <hr>
</div>
<div class="container mb-3">
  <div class="card">
    <div class="card-body2">
      <form #paymentForm="ngForm" id="paymentForm">
      <h6>Producto</h6>
      <div class="row mb-2">
        <div class="col-sm-6 mb-2">
          <div class="form-floating">
            <input type="text" id="product" class="form-control" name="product" readonly value="{{items.brand}} {{items.model}}"/>
            <label for="product">Producto en venta</label>
          </div>
        </div>

        <div class="col-sm-6 mb-2">
          <div class="form-floating">
            <input type="text" id="price" class="form-control" name="price" readonly value="{{items.price}}"/>
            <label for="product">Precio</label>
          </div>
        </div>
      </div>

      <h6>Forma de Pago</h6>
      <div class="col-sm-6 mb-4">
        <div class="form-floating">
          <select class="form-select" id="paymentMethod" name="paymentMethod" [(ngModel)]="paymentMethod" aria-label="Floating label select"
          ngModel #paymentControl="ngModel" [ngClass]="{'is-invalid':(paymentControl.invalid && paymentControl.dirty)}" [required]="true">
            <option [value]="''" disabled selected>Selecciona una opción</option>
            <option value="efectivo"> Efectivo</option>
            <option value="transferencia">Transferencia</option>
          </select>
          <label for="paymentMethod">Método de Pago</label>
        </div>
      </div>
      
      <h6>Pago Inicial</h6>
      <div class="row mb-2 mb-2">
        <div class="col-sm-6 mb-2">
          <div class="form-floating">
            <input type="number" id="amount" class="form-control" name="amount" [(ngModel)] = "initialPay"
            ngModel #amount="ngModel" [ngClass]="{'is-invalid':(amount.invalid && amount.dirty)}" 
            [disabled]="paymentControl.value === ''" [min]="0" pattern="^[0-9]+$" [required]="true"/>
            <label for="amount">Monto</label>
          </div>
        </div>
        <div class="col-sm-6 mb-2">
          <div class="form-floating">
            <input type="number" id="folio" class="form-control" name="folio"
              ngModel #folio="ngModel" [ngClass]="{'is-invalid':(folio.invalid && folio.dirty)}"
              [disabled]="paymentControl.value === 'efectivo' || paymentControl.value === ''" [min]="0" pattern="^[0-9]+$" [required]="true" />
            <label for="folio">Folio</label>
          </div>
        </div>
        <div class="col-sm-6 mb-2">
          <div class="form-floating">
            <input type="text" id="concept" class="form-control" name="concept"
              ngModel #concept="ngModel" [ngClass]="{'is-invalid':(concept.invalid && concept.dirty)}" 
              [disabled]="paymentControl.value === 'efectivo' || paymentControl.value === ''" [required]="true" />
            <label for="concept">Concepto</label>
          </div>
        </div>
        <div class="col-sm-6 mb-2">
          <div class="form-floating">
            <input type="datetime-local" id="datetime" class="form-control" name="datetime"
              ngModel #datetime="ngModel" [ngClass]="{'is-invalid':(datetime.invalid && datetime.dirty)}" 
              [disabled]="paymentControl.value === 'efectivo' || paymentControl.value === ''" [required]="true" />
            <label for="datetime">Fecha y Hora</label>
          </div>
        </div>
      </div>

      <h5>Subtotal:</h5>
      <div class="col-sm-6 mb-2">
        <div class="form-floating">
          <input type="text" id="subtotal" class="form-control" name="subtotal" readonly value="{{getSubtotal()}}" />
          <label for="subtotal">Subtotal</label>
        </div>
      </div>

      <h5>Total a pagar:</h5>
      <div class="col-sm-6 mb-2">
        <div class="form-floating">
          <input type="text" id="paymentTotal" class="form-control" name="paymentTotal" readonly value="{{getTotalPrice()}}" />
          <label for="paymentTotal">Total</label>
        </div>
      </div>
    </form>  
    </div>
    
    <div class="card-footer">
      <button class="btn btn-outline-primary float-end"(click)="saleEnd()" form="paymentForm" > Finalizar Compra</button><!-- [disabled]="paymentForm.invalid"  -->
    </div>
  </div>
</div>
<br><br> 
<!-- área y boton para finalizar la compra-->


<!-- Modal  para Crear a un Nuevo Cliente-->
<div class="modal fade" id="newCustomer" tabindex="-1" data-bs-backdrop="static" aria-labelledby="newModalLabel" aria-hidden="true">
  <form #newCustomerForm="ngForm" (ngSubmit)="addNewCustomer(newCustomerForm.value)">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="newModalLabel">Nuevo Cliente</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <!-- Nombre -->
              <label for="fileName">Nombre Completo</label>
              <input type="text" id="name" class="form-control mb-3" name="name"
              [(ngModel)]="customers.name" #name="ngModel" placeholder="Escribe aquí"required />
              <!-- Voter key -->
              <label for="fileName">Clave del Elector</label>
              <input type="text" id="voterKey" class="form-control mb-3" name="voterKey"
              [(ngModel)]="customers.voterKey" #voterKey="ngModel" placeholder="Escribe aquí" required/>
              <!-- Address -->
              <label for="fileName">Dirección</label>
              <input type="text" id="address" class="form-control mb-3" name="address"
              [(ngModel)]="customers.address" #address="ngModel" placeholder="Escribe aquí" required/>
              <!-- Phone Number -->
              <label for="fileName">Número de Teléfono</label>
              <input type="text" id="phoneNumber" class="form-control mb-3" name="phoneNumber"
              [(ngModel)]="customers.phoneNumber" #phoneNumber="ngModel" placeholder="Escribe aquí" required maxlength="10" minlength="10" pattern="^[0-9]+$"/>
              <!-- Email -->
              <label for="fileName">Correo Electrónico</label>
              <input type="text" id="email" class="form-control mb-3" name="email"
              [(ngModel)]="customers.email" #email="ngModel" placeholder="Escribe aquí" required email/>
              <!-- Facebook -->
              <label for="fileName">Facebook</label>
              <input type="text" id="facebook" class="form-control mb-3" name="facebook"
              [(ngModel)]="customers.facebook" #facebook="ngModel" placeholder="Escribe aquí" required/>

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Ingresar</button>
          </div>
        </div>
      </div>
    </form>
  </div>
<!-- Modal para agregar Artículo-->
<div class="modal fade" id="newItem" tabindex="-1" data-bs-backdrop="static" aria-labelledby="newModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="newModalLabel">Agregar Artículo</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form #exchangeForm="ngForm" (ngSubmit)="addExchange(exchangeForm.value)" id="exchangeForm">
                <div class="row">
                  <div class="col-md-6 mb-3">
                    <div class="form-floating">
                      <input type="text" id="brand" class="form-control" name="brand"
                        [(ngModel)]="exchange.brand" #brand="ngModel"
                        [ngClass]="{'is-invalid':(brand.invalid && brand.dirty)}" [required]="true"/>
                      <label for="fileName">Marca</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3">
                    <div class="form-floating">
                      <input type="text" id="model" class="form-control" name="model"
                        [(ngModel)]="exchange.model" #modelo="ngModel"
                        [ngClass]="{'is-invalid':(modelo.invalid && modelo.dirty)}" [required]="true"/>
                      <label for="fileName">Modelo</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="form-floating">
                      <input type="text" id="imei" class="form-control" name="IMEI"
                        [(ngModel)]="exchange.IMEI" #IMEI="ngModel"
                        [ngClass]="{'is-invalid':(IMEI.invalid && IMEI.dirty)}" [required]="true"/>
                      <label for="fileName">IMEI/No. de Serie</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="input-group">
                      <span class="input-group-text">$</span>
                      <div class="form-floating">
                        <input type="number" id="price" class="form-control" name="price"
                          ngModel [(ngModel)]="exchange.price" #price="ngModel"
                          [ngClass]="{'is-invalid':(price.invalid && price.dirty)}"  [required]="true" [min]="0" pattern="^[0-9]+$"/>
                        <label for="fileName">Precio</label>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="form-floating">
                      <select class="form-select" id="category" name="category"
                        [(ngModel)]="exchange.category" #category="ngModel"
                        [ngClass]="{'is-invalid': (category.invalid && category.dirty)}" [required]="true">
                        <option [value]="''" disabled selected>--Seleccionar--</option>
                        <option value="1">Celular</option>
                        <option value="2">Laptop</option>
                        <option value="3">Consola</option>
                      </select>
                      <label for="category">Categoría</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="form-floating">
                      <input type="text" id="color" class="form-control" name="color"
                        [(ngModel)]="exchange.color" #color="ngModel"
                        [ngClass]="{'is-invalid':(color.invalid && color.dirty)}" [required]="true"/>
                      <label for="fileName">Color</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="form-floating">
                      <select class="form-select" id="storageCapacity" name="storageCapacity"
                        [(ngModel)]="exchange.storageCapacity" #storageCapacity="ngModel"
                        [ngClass]="{'is-invalid': (storageCapacity.invalid && storageCapacity.dirty)}" [required]="true">
                        <option [value]="''" disabled selected>--Seleccionar--</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">4</option>
                        <option value="4">6</option>
                        <option value="5">8</option>
                        <option value="6">16</option>
                        <option value="7">32</option>
                        <option value="8">64</option>
                        <option value="9">128</option>
                        <option value="10">256</option>
                        <option value="11">512</option>
                      </select>
                       <label for="storageCapacity">Capacidad de Almacenamiento</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="form-floating">
                      <select class="form-select" id="storageUnit" name="storageUnit"
                        [(ngModel)]="exchange.storageUnit" #storageUnit="ngModel"
                        [ngClass]="{'is-invalid': (storageUnit.invalid && storageUnit.dirty)}" [required]="true">
                        <option [value]="''" disabled selected>--Seleccionar--</option>
                        <option value="1">MB</option>
                        <option value="2">GB</option>
                        <option value="3">TB</option>
                      </select>
                       <label for="storageUnit">Unidad</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="form-floating">
                      <input type="date" id="date" class="form-control" name="entryDate"
                        [(ngModel)]="exchange.entryDate" #entryDate="ngModel"
                        [ngClass]="{'is-invalid':(entryDate.invalid && entryDate.dirty)}" [required]="true"/>
                      <label for="fileName">Fecha</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="form-floating">
                      <input type="text" id="operator" class="form-control" name="employeeId" readonly
                        [(ngModel)]="exchange.employeeId" #employeeId="ngModel"
                        [ngClass]="{'is-invalid':(employeeId.invalid && employeeId.dirty)}" [required]="true"
                        [(ngModel)]="currentUser"/>
                      <label for="fileName">Operador</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="form-floating">
                      <input type="number" id="batteryState" class="form-control" name="batteryState"
                        [(ngModel)]="exchange.batteryState" #batteryState="ngModel"
                        [ngClass]="{'is-invalid':(batteryState.invalid && batteryState.dirty)}"  [min]="1" [max]="100" [required]="true"/>
                      <label for="batteryState">Estado de la batería</label>
                    </div>
                  </div>
                  <div class="col-sm-6 mb-3">
                    <div class="form-floating">
                      <input type="number" id="physicalState" class="form-control" name="physicalState"
                        [(ngModel)]="exchange.physicalState" #physicalState="ngModel"
                        [ngClass]="{'is-invalid':(physicalState.invalid && physicalState.dirty)}" [required]="true"  [min]="1" [max]="10"/>
                      <label for="fileName">Estética</label>
                    </div>
                  </div>
                  <div class="col-sm-12 mb-3">
                    <div class="form-floating">
                      <textarea type="text" id="comments" class="form-control" name="comments"
                        [(ngModel)]="exchange.comments" #comments="ngModel"
                        [ngClass]="{'is-invalid':(comments.invalid && comments.dirty)}" [required]="true"></textarea>
                      <label for="fileName">Observaciones</label>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 mb-4">
                    <label for="urlPhoto1" class="form-label">1. Foto de artículo:</label>
                    <input type="file" name="urlPhoto1" id="urlPhoto1" class="form-control" placeholder="Elegir foto"
                           ngModel #imgFile1="ngModel" (change)="editAndCompressImage($event, imgFile1, img1)" [required]="true"
                           [disabled]="!(imgFile1.value == '' || imgFile1.value == undefined)" />
                    <div [ngClass]="{'visually-hidden':(imgFile1.value == '' || imgFile1.value == undefined)}">
                      <div class="row mt-3">
                        <div class="col-12 text-center">
                          <button class="btn btn-danger" type="button" title="Quitar imagen" data-bs-toggle="modal" data-bs-target="#deleteImg1">
                            <i class="fi fi-rr-trash-xmark"></i>
                          </button>
                
                          
                        </div>
                      </div>
                      <div class="row mt-1">
                        <img src="" alt="Foto 1" title="Foto 1" #img1 class="img-fluid" />
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 mb-4">
                    <label for="urlPhoto2" class="form-label">2. Foto de artículo:</label>
                    <input type="file" name="urlPhoto2" id="urlPhoto2" class="form-control" placeholder="Elegir foto"
                           ngModel #imgFile2="ngModel" (change)="editAndCompressImage($event, imgFile2, img2)" [required]="true"
                           [disabled]="!(imgFile2.value == '' || imgFile2.value == undefined)" />
                    <div [ngClass]="{'visually-hidden':(imgFile2.value == '' || imgFile2.value == undefined)}">
                      <div class="row mt-3">
                        <div class="col-12 text-center">
                          <button class="btn btn-danger" type="button" title="Quitar imagen" data-bs-toggle="modal" data-bs-target="#deleteImg2">
                            <i class="fi fi-rr-trash-xmark"></i>
                          </button>
                
                          <div id="deleteImg2" class="modal fade" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title">Quitar imagen</h5>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                  ¿Desea eliminar la imagen seleccionada?
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteImage(img2, imgFile2)">Eliminar</button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="row mt-1">
                        <img src="" alt="Foto 2" title="Foto 2" #img2 class="img-fluid" />
                      </div>
                    </div>
                  </div>
                  
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal" form="exchangeForm" >Ingresar</button><!--[disabled]="!exchangeForm.valid"-->
            </div>
          </div>
        </div>
  </div>
<!-- Modal para Eliminar articulo-->
<div class="modal fade" id="deleteModal" tabindex="-1" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Se eliminará el Artículo: {{infoExchange.brand}}{{infoExchange.model}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" (click)="deleteExchange()">Eliminar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal para Eliminar Cliente-->
<div class="modal fade" id="deleteCustomer" tabindex="-1" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Se eliminará el Artículo: {{customers.name}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" >Eliminar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal para Eliminar artículo a vender-->
<div class="modal fade" id="deleteItem" tabindex="-1" data-bs-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Se eliminará el Artículo: {{items.model}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal" >Eliminar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal para Editar la información del artículo-->
<div class="modal fade" id="editModal" tabindex="-1" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Editar Artículo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         <form>
         <!-- Model -->
         <label for="fileName">Modelo</label>
         <input type="text" id="model" class="form-control mb-3" name="model" placeholder="Escribe aquí"required/>
         <!-- IMEI -->
         <label for="fileName">IMEI</label>
         <input type="text" id="imei" class="form-control mb-3" name="imei" placeholder="Escribe aquí" maxlength="15" minlength="15" pattern="^[0-9]+$" required/>
         <!-- Price -->
         <label for="fileName">Precio</label>
         <input type="text" id="price" class="form-control mb-3" name="price" placeholder="Escribe aquí" pattern="^[0-9]+$" required/>
         <!-- Topic -->
         <label for="fileName">Categoría</label>
         <input type="text" id="topic" class="form-control mb-3" name="topic" placeholder="Escribe aquí" required/>
         <!-- Color -->
         <label for="fileName">Color</label>
         <input type="text" id="color" class="form-control mb-3" name="color" placeholder="Escribe aquí" required/>
         <!-- Storage -->
         <label for="fileName">Almacenamiento</label>
         <input type="text" id="storage" class="form-control mb-3" name="storage" placeholder="Escribe aquí" required/>
         <!-- Date -->
         <label for="fileName">Fecha</label>
         <input type="text" id="date" class="form-control mb-3" name="date" placeholder="Escribe aquí" pattern="\d+" required/>
         <!-- Operator -->
         <label for="fileName">Operador</label>
         <input type="text" id="operator" class="form-control mb-3" name="operator" placeholder="Escribe aquí" required/>
         <!-- Battery state -->
         <label for="fileName">Estado de la batería</label>
         <input type="text" id="batteryState" class="form-control mb-3" name="batteryState" placeholder="Escribe aquí" required/>
         <!-- PhysicalState -->
         <label for="fileName">Estado Físico</label>
         <input type="text" id="physicalState" class="form-control mb-3" name="physicalState" placeholder="Escribe aquí" required/>
         <!-- Observations -->
         <label for="fileName">Observaciones Adicionales</label>
         <input type="text" id="observations" class="form-control mb-3" name="observations" placeholder="Escribe aquí" required/>
         </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Guardar Cambios</button>
        </div>
      </div>
    </div>
</div>

<!-- Modal de información -->
<div class="modal fade" tabindex="-1" data-bs-backdrop="static" [id]="'infoModal' + exchange.model" *ngFor="let exchange of exchangeCard">
  <div class="modal-dialog modal-lg modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Detalles del Artículo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <!-- Columna de la imagen (3 columnas en dispositivos grandes) -->
          <div class="col-lg-3 order-lg-1 order-1 mb-3">
              <img src="ruta-de-la-imagen.jpg" alt="Imagen" class="img-fluid">
          </div>
          <div class="col-lg-9 order-lg-2 order-2">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input1" [value]="exchange.brand">
                  <label for="Input1">Marca:</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input1" [value]="exchange.model">
                  <label for="Input1">Modelo:</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input2" [value]="exchange.IMEI">
                  <label for="Input2">IMEI:</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input3" [value]="exchange.category">
                  <label for="Input2">Categoría:</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input4" [value]="exchange.color">
                  <label for="Input2">Color:</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input5" [value]="exchange.batteryState">
                  <label for="Input2">Estado de Batería:</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input6" [value]="exchange.storageCapacity">
                  <label for="Input2">Capacidad de Almacenamiento:</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input7" [value]="exchange.storageUnit">
                  <label for="Input2">Unidad de Almacenamiento</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input8" [value]="exchange.physicalState">
                  <label for="Input2">Estado Físico:</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating">
                  <textarea type="text" readonly class="form-control-plaintext" id="Input9" [value]="exchange.comments"></textarea>
                  <label for="Input2">Comentarios:</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input11" [value]="exchange.price">
                  <label for="Input2">Precio:</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input12" [value]="exchange.entryDate">
                  <label for="Input2">Fecha de Registro:</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-floating">
                  <input type="text" readonly class="form-control-plaintext" id="Input13" [value]="exchange.location">
                  <label for="Input2">Ubicación:</label>
                </div>
              </div>
              <!--  -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="deleteImg1" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Quitar imagen</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Desea eliminar la imagen seleccionada?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-target="#newItem" data-bs-toggle="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-target="#newItem" data-bs-toggle="modal" (click)="deleteImage(img1, imgFile1)">Eliminar</button>
      </div>
    </div>
  </div>
</div>