<section class="container">
  <div class="row text-center title">
    <h3>Adeudos</h3>
  </div>
  <hr><br>
</section>
<section class="container-sm">
  <div class="row">
    <div class="col-md-8 mx-auto d-flex justify-content-center align-items-center">
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">
                <i class="fi fi-rr-search"></i>
            </span>
            <input type="text" class="form-control" id="search" name="search" placeholder="Buscar..." aria-describedby="addon-wrapping">
        </div>
    </div>
  </div>
  <br>
</section>
<section class="container-sm">
  <div class="table-responsive">
        <table class="table table-bordered text-center">
            <!-- Encabezado de la tabla -->
            <thead>
                <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nombre_cliente</td>
                    <td>Nombre_producto</td>
                    <td>$00.00 - <button class="btn btn-link align-baseline" data-bs-toggle="modal" data-bs-target="#details">Detalles</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
<!-- Pagination -->
<section class="container-sm">
  <div class="row">
      <div class="col-md-8 mx-auto d-flex justify-content-center align-items-center">
        <nav  aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled mb-2">
              <span class="page-link"><i class="fi fi-rr-angle-left"></i></span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <span class="page-link">2</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item mb-2">
              <a class="page-link" href="#"><i class="fi fi-rr-angle-right"></i></a>
            </li>
          </ul>
        </nav>
      </div>  
    </div>
</section>
<!-- Modal Details-->
<div class="modal fade" id="details" tabindex="-1" data-bs-backdrop="static" aria-labelledby="newModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header"> 
            <div class="text-center d-flex justify-content-center align-items-center w-100">
                <h1 class="modal-title fs-4" id="newModalLabel">Información de Adeudo</h1>
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">         
            <!-- Second column -->
            <div class="container">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-sm-6 ">
                            <h6 class="text-end"><b>Cliente:</b></h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="text">texto</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="text-end"><b>Producto:</b></h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="text">texto</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="text-end"><b>Total:</b></h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="text">texto</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="text-end"><b>Fecha Inicial:</b></h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="text">texto</h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <h6 class="text-end"><b>Fecha Final:</b></h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="text">texto</h6>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="modal-header text-center d-flex justify-content-center align-items-center">
              <h1 class="fs-5" id="newModalLabel2">Fechas de Pago</h1>
            </div>
            <br>
            <div class="container">
              <div class="table-responsive">
                  <table class="table table-bordered text-center">
                      <!-- Encabezado de la tabla -->
                      <thead>
                          <tr>
                          <th scope="col">#</th>
                          <th scope="col">Monto</th>
                          <th scope="col">Fecha</th>
                          <th scope="col">Tipo de Pago</th>
                          </tr>
                      </thead>
                      <tbody class="align-middle">
                          <tr>
                              <td>1</td>
                              <td>$00.00</td>
                              <td>dd/mm/aa</td>
                              <td>Transferencia</td>
                          </tr>
                          <tr>
                              <td>2</td>
                              <td>$00.00</td>
                              <td>dd/mm/aa</td>
                              <td>Efectivo</td>
                          </tr>
                          <tr>
                              <td>3</td>
                              <td>$00.00</td>
                              <td>dd/mm/aa</td>
                              <td>--</td>
                          </tr>
                          <tr>
                              <td>4</td>
                              <td>$00.00</td>
                              <td>dd/mm/aa</td>
                              <td>--</td>
                          </tr>
                          <tr>
                              <td>5</td>
                              <td>$00.00</td>
                              <td>dd/mm/aa</td>
                              <td>--</td>
                          </tr>
                          <tr>
                              <td>6</td>
                              <td>$00.00</td>
                              <td>dd/mm/aa</td>
                              <td>--</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <p>**Se aplica un interés del 5% pasado los 3 meses desde la adquisión del producto</p>
            </div>
          </div>
          <div class="container mt-2 mb-3 me-3 d-flex justify-content-between align-items-end">
            <div class="d-flex">
                <!-- Botón de Imprimir -->
                <button class="btn btn-outline-success">
                  <i class="fi fi-rr-print"></i>
                </button>
            </div>
            <button class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#pay">Abonar</button>
          </div>
        </div>
      </div>
  </div>

   <!-- Modal para agregar Monto-->
<div class="modal fade" id="pay" tabindex="1" data-bs-backdrop="static" aria-labelledby="newModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newModalLabel">Agregar Monto</h1>
        </div>
        <div class="modal-body">
          <form>
            <!-- methodPay -->
            <div class="col-lg-12 col-md-12 mt-2">
              <div class="form-floating">
                <select class="form-select form-select-md mb-3" name="filter" aria-label="Select method" #filter="ngModel" ngModel id="paymentMethod"
                     [ngClass]="{'is-invalid':(filter.invalid && filter.dirty)}" [required]="true">
                  <option value="">--Elegir de pago--</option>
                  <option value="ATM">Cajero</option>
                  <option value="cash">Efectivo</option>
                  <option value="transfer">Tranferencia</option>
                </select>
                <label for="paymentMethod">Filtrar por:</label>
              </div>
            </div>
            <!-- folio -->
            <form #amountForm="ngForm"></form>
            <div class="col-lg-12 col-md-12 mb-2">
              <div class="form-floating">
                <input type="date" name="date" id="date" class="form-control"
                       
                       ngModel #date="ngModel" [ngClass]="{'is-invalid':(date.invalid && date.dirty)}"
                       [disabled]="filter.value === 'cash' || !filter.value" [required]="true" />
                <label for="date">Fecha</label>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 mb-2">
              <div class="form-floating">
                <input type="time" name="hour" id="hour" class="form-control" 
                       
                       ngModel #hour="ngModel" [ngClass]="{'is-invalid':(hour.invalid && hour.dirty)}" 
                       [disabled]="filter.value === 'cash' || !filter.value" [required]="true"/>
                <label for="hour">Hora</label>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 mb-2">
              <div class="form-floating">
                <input type="number" name="folio" id="folio" class="form-control"
                       ngModel #folio="ngModel" [ngClass]="{'is-invalid':(folio.invalid && folio.dirty)}" 
                       [disabled]="filter.value === 'cash' || !filter.value" [required]="true"
                       min="2024-02-01"/>
                <label for="folio">Folio</label>
              </div>
            </div>
            <!-- Amount -->
            <div class="col-lg-12 col-md-12 mt-2">
              <div class="input-group">
                <span class="input-group-text">$</span>
                <div class="form-floating">
                  <input type="number" name="price" id="amount" class="form-control" aria-label="Precio" placeholder="00.00"
                         ngModel #amount="ngModel" [ngClass]="{'is-invalid':(amount.invalid && amount.touched)}"
                         [disabled]="filter.value === ''" [required]="true" [min]="0" />
                  <label for="amount">Cantidad</label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#details" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#details" data-bs-dismiss="modal">Ingresar</button>
        </div>
      </div>
    </div>
</div>
