<section class="container">
  <div class="row text-center title">
    <h3>Adeudos</h3>
  </div>
  <hr><br>
  <section class="container-sm" [ngClass]="{'visually-hidden' : isDetailRouteActive()}">
  <div class="row">
    <div class="col-md-8 mx-auto d-flex justify-content-center align-items-center">
        <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping">
                <i class="fi fi-rr-search"></i>
            </span>
            <input
            id="typeahead-Customer"
            type="text"
            class="form-control"
            [(ngModel)]="model"
            [ngbTypeahead]="search"
            (focus)="focus$.next($any($event).target.value)"
            (click)="click$.next($any($event).target.value)"
            (selectItem)="onSelect($event)"
            #instance="ngbTypeahead"></div>
    </div>
  </div>
  <br>
  <div class="table-responsive">
        <table class="table table-bordered text-center">
            <!-- Encabezado de la tabla -->
            <thead>
                <tr>
                <th scope="col">Cliente</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody *ngFor="let debt of debts">
                <tr>
                    <td>{{debt.voterKey}}</td>
                    <td>{{debt.idVenta}}</td>
                    <td>$ {{debt.total}} - <button class="btn btn-link align-baseline"
                      routerLink="details/{{debt.debtId}}" routerLinkActive #route="routerLinkActive" [routerLinkActive]="['visually-hidden']">Detalles</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>
    <!-- Pagination -->
    <div class="row">
      <div class="col-md-8 mx-auto d-flex justify-content-center align-items-center">
        <nav  aria-label="...">
          <ul class="pagination">
            <li class="page-item disabled mb-2">
              <span class="page-link"><i class="fi fi-rr-angle-left"></i></span>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item active" aria-current="page">
              <span class="page-link">2</span>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item mb-2">
              <a class="page-link" href="#"><i class="fi fi-rr-angle-right"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>
  <router-outlet></router-outlet>
</section>
