/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@flaticon/flaticon-uicons/css/regular/all.css";
@import "../node_modules/ngx-toastr/toastr.css";

:root {
  --white: rgb(255,255,255);
  --white-1: rgb(238, 238, 238);
  --white-2: rgb(220, 220, 220);
  --white-3: rgb(190, 190, 190);
  --black: rgb(0, 0, 0);
  --base-gray-1: rgb(134, 134, 134);
  --base-gray-2: rgb(100, 100, 100);
  --base-blue: rgb(44, 128, 255);
  --base-blue-shadow: rgba(44, 128, 255, 0.6);
  --base-blue-hover: rgb(70, 144, 255);
  --base-blue-2: rgb(0, 32, 96);
}

/* General elements */
html {
  height: 100vh;
  font-size: 12pt;
  h1 {
    font-size: 2.4rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.8rem;
  }
  h5 {
    font-size: 1.6rem;
  }
  h6 {
    font-size: 1.4rem;
  }
  a {
    cursor: pointer;
  }
}

/* General styles */
.title {
  margin-top: 10pt;
}

/* Header */
header {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: var(--base-blue);
  font-weight: 900;
  color: white;
  padding: 5pt;
  max-height: 70pt;
  h1, img {
    margin-left: 10pt;
  }
}

/* Styles for sidebar */
.offcanvas {
  background-color: var(--white-1);
}

.offcanvas-body {
  margin: 0;
  padding: 0;
  hr {
    border: none;
    height: 2pt;
    background: var(--black);
  }
}

.sidebar-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 40pt;
  width: 100%;
  color: var(--black);
  background-color: var(--white-1);
  cursor: pointer;
  .sidebar-shape {
    fill: var(--white-1);
  }
  .fi {
    font-size: 1.4rem;
    padding-left: 20pt;
    padding-right: 10pt;
    height: 65%;
  }
  p {
    height: 25%;
  }
}

.sidebar-item:hover:not(.selected) {
  background-color: var(--white-2);
  .sidebar-shape {
    fill: var(--white-3);
  }
}

.sidebar-item:hover {
  background-color: var(--base-blue-hover);
}

.selected {
  color: var(--white);
  background-color: var(--base-blue);
  .sidebar-shape {
    display: block;
    fill: var(--base-blue-2)
  }
}
